.nav-bar {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  width: 100%;
  height: 60px;
  background-color: #222222;
}
#nav ._usd {
  margin-top: 14px;
}
#nav ._usd .navbar-nav li .firsta {
  padding: 0px 16px !important;
  color: #c3c3c3;
  font-size: 14px !important;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
#nav ._usd .navbar-nav li .firsta :hover {
  color: gray;
}
#nav ._usd .dropdown-firstmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
#nav ._usd .dropdown-firstmenu li span {
  background-color: #ef6c00;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
}
#nav .nav-right-icon {
  text-decoration: none;
  display: flex;
  gap: 22px;
  align-items: center;
  height: 60px;
  justify-content: flex-end;
}
#nav .nav-right-icon a {
  text-decoration: none;
}
#nav .nav-right-icon a i {
  font-size: 17px;
  text-decoration: none;
  color: #C3C3C3;
}
#nav .nav-right-icon a span {
  text-decoration: none;
  color: #C3C3C3;
  font-size: 14px;
}
#nav .nav-usd-flag {
  display: flex;
}
#nav .flag .divider {
  margin: 1px !important;
}
#nav .flag .ui {
  background-color: #222222 !important;
  color: white;
}
#nav .flag .ui .search {
  background-color: #222222 !important;
}
#nav .flag .ui .search .selection .dropdown {
  background-color: #222222 !important;
}

#nav-down {
  background-color: #EF6C00;
  width: 100%;
  height: 85px;
}
#nav-down .sophia {
  height: 80px;
  display: flex;
  align-items: center;
}
#nav-down .sophia a {
  text-decoration: none;
}
#nav-down .sophia a h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#nav-down .search {
  height: 80px;
  display: flex;
  align-items: center;
}
#nav-down .search input {
  border: none;
  outline: none;
  height: 35px;
  width: 29rem;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px;
  padding-left: 10px;
}
#nav-down .search button {
  height: 35px !important;
  width: 7rem;
  border-radius: 2px !important;
}
#nav-down .call-contact {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
}
#nav-down .call-contact i {
  text-decoration: none;
  color: white;
}
#nav-down .call-contact .call-icon {
  font-size: 32px;
}
#nav-down .call-contact .call-helpline span {
  color: white;
  font-size: 13px;
}
#nav-down .call-contact .call-number {
  color: white;
  font-size: 18px;
}
#nav-down .call-contact .basket-number .info-basket {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: absolute;
  margin-top: 25px;
  z-index: 20;
  width: 289px;
  display: none;
  left: 3px;
  position: absolute;
  top: 40px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow: auto;
  background-color: white;
}
#nav-down .call-contact .basket-number .info-basket .subtotal-basket {
  border-top: 1px solid #C3C3C3;
  width: 249px;
  height: 59px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding-top: 10px;
}
#nav-down .call-contact .basket-number .info-basket .subtotal-basket .basket-card-total span {
  font-weight: 400;
}
#nav-down .call-contact .basket-number .info-basket .table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 0 !important;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
#nav-down .call-contact .basket-number .info-basket #check-card {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
#nav-down .call-contact .basket-number .info-basket .check {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #C3C3C3;
  padding: 20px;
}
#nav-down .call-contact .basket-number .info-basket .check .item-count {
  margin-left: 114px;
  font-weight: 600;
}
#nav-down .call-contact .basket-number .info-basket .check span {
  font-weight: 600;
}
#nav-down .call-contact .basket-number .info-basket .line-basket {
  height: 1px;
  width: 250px;
  background-color: #C3C3C3;
  margin-left: 18px;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr td {
  border-bottom-width: none !important;
  font-weight: bold;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr td img {
  width: 100px;
  cursor: pointer;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr .price {
  position: absolute;
  margin-top: 30px;
  margin-left: -219px;
  font-weight: 600;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr .name {
  padding-left: 20px;
  width: 200px;
  height: 65px;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr b {
  color: #EF6C00;
  font-weight: bold;
}
#nav-down .call-contact .basket-number .info-basket .total-price {
  display: flex;
}
#nav-down .call-contact .basket-number .info-basket .total-price a {
  text-decoration: none;
}
#nav-down .call-contact .basket-number .info-basket .total-price a button {
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 190px !important;
  height: 49px;
  font-weight: bold;
  color: white;
  background-color: #EF6C00 !important;
  border: 0px solid;
}
#nav-down .call-contact .basket-number .sub-total {
  display: flex;
  cursor: pointer;
}
#nav-down .call-contact .basket-number .sub-total i {
  font-size: 18px;
}
#nav-down .call-contact .basket-number .sub-total .sup-number {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  top: -8px;
  right: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
}
#nav-down .call-contact .basket-number .sub-total .sup-number sup {
  color: white;
  position: relative;
  top: 7px;
  left: 4;
  font-size: 10px;
}
#nav-down .call-contact .basket-number .sub-total p {
  color: white;
  font-weight: bold;
}

#navbar-tabs {
  background-color: #F3F3F3;
}
#navbar-tabs .navbar-page {
  display: flex;
  background-color: #F3F3F3 !important;
}
#navbar-tabs .nav-body {
  background-color: #F3F3F3 !important;
}
#navbar-tabs .navbar-info {
  background-color: #F3F3F3 !important;
}
#navbar-tabs .navbar-info .navbar-li li {
  width: 100px !important;
  transition: 0.3s;
}
#navbar-tabs .navbar-info .navbar-li li a {
  font-size: 17px;
  font-weight: bold;
}
#navbar-tabs .navbar-info .navbar-li li:hover {
  background-color: #E9E9E9;
}
#navbar-tabs .navbar-info .navbar-li .page-list ul li a {
  font-size: 15px !important;
  font-weight: 400;
}

#page-title {
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3;
}
#page-title .contact h4 {
  font-size: 16px;
  color: #555;
  font-weight: 500;
}
#page-title .content {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
}
#page-title .content li {
  list-style: none;
  font-size: 14px;
  color: #555;
  font-weight: 500;
}
#page-title .content li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 14px;
}
#page-title .content .about-us {
  display: flex;
}

#products {
  margin-top: 50px;
}
#products .modal-prodact ._slider img {
  width: 100px;
  height: 100px;
}
#products .modal-prodact .main-img img {
  width: 400px;
  height: 400px;
}
#products .product-info .sale-text {
  display: flex;
  gap: 15px;
}
#products .product-info .sale-text .sale span {
  font-weight: 600;
  font-size: 18px;
  color: #777777;
  text-decoration-line: line-through;
}
#products .product-info .sale-text .sale-info {
  margin: -5px;
  font-weight: 600;
  font-size: 23px;
  color: red;
  padding-bottom: 20px;
}
#products .product-info .line-text {
  padding-bottom: 20px;
  border-bottom: 1px dashed #ddd;
}
#products .product-info .stock {
  padding-top: 20px;
}
#products .product-info .stock h6 {
  font-weight: 400;
}
#products .product-info .minus,
#products .product-info .plus {
  width: 20px;
  height: 20px;
  font-size: 24px;
  display: inline-block;
  text-align: center;
}
#products .product-info *,
#products .product-info *::before,
#products .product-info *::after {
  box-sizing: content-box;
}
#products .product-info input {
  width: 48px;
  text-align: center;
  background-color: #fff;
  height: 38px;
  border: 1px solid #d9d9d9;
  border-top: none;
  border-bottom: none;
}
#products .product-info .number {
  margin-bottom: 20px;
}
#products .product-info .button-buy button {
  background-color: #EF6C00 !important;
  color: white;
  width: 128px;
  height: 36px;
  font-weight: 500;
}
#products .product-info .button-buy .buy-now {
  width: 100px;
  height: 36px;
  font-weight: 500;
}
#products .product-contact {
  border: 1px solid #ddd;
}
#products .product-contact .info-bar-free .info-bar-menu {
  display: flex;
  align-items: center;
  height: 120px;
  margin-right: 20px;
  gap: 15px;
  padding-right: none !important;
  padding-left: none !important;
  padding-left: 10px;
}
#products .product-contact .info-bar-free .info-bar-menu i {
  font-size: 30px;
  color: #333;
}
#products .product-contact .info-bar-free .info-bar-menu span {
  color: #777 !important;
  font-size: 14px;
}
#products .product-contact .info-bar-free .border-buttom-solid {
  margin-left: 34px;
  background-color: #e5e5e5;
  height: 1px;
  width: 200px;
}
#products .product-contact .info-bar-free .free-shoping {
  gap: 8px !important;
}
#products .product-contact .info-bar-free .money-card {
  gap: 11px !important;
}
#products .product-contact .info-bar-free .money-card .icon-usd {
  margin-left: 16px;
}
#products .product-contact .info-bar-free .money-card .icon-usd .i {
  font-size: 37px;
}
#products .big-sale {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  background-color: #EF6C00;
  width: 100%;
  height: 220px;
}
#products .big-sale .sale {
  display: flex;
  justify-content: center;
}
#products .big-sale .sale .number {
  position: absolute;
  margin: -39px;
  margin-right: 2px;
}
#products .big-sale .sale span {
  font-size: 85px;
  font-weight: bold;
  color: white;
}
#products .big-sale .text {
  position: absolute;
  margin: -7px;
  margin-left: 91px;
}
#products .big-sale .text h1 {
  font-size: 31px;
  color: white;
}
#products .big-sale .text span {
  font-size: 20px;
  color: white;
}
#products .big-sale .text-lorem {
  width: 255px;
  height: 100px;
  position: absolute;
  margin-top: 60px;
}
#products .big-sale .text-lorem span {
  font-size: 16px;
}

#tab-menu {
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#tab-menu *,
#tab-menu *::before,
#tab-menu *::after {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
#tab-menu .tab-menu-link {
  width: 14.5% !important;
}
#tab-menu body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #252b46;
  background: #ffffff;
}
#tab-menu .container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 2rem;
}
#tab-menu .title {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  line-height: inherit;
  color: #252b46;
  text-transform: capitalize;
}
#tab-menu .paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
  max-width: 100%;
  margin-top: 0.5rem;
  color: #9194a1;
}
#tab-menu .main .tab {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
}
#tab-menu .main .tab-menu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-bottom: 1.3px solid #dbdbdb;
  transition: all 0.3s ease;
}
#tab-menu .main .tab-menu-link {
  position: relative;
  overflow: hidden;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  cursor: pointer;
  width: 25%;
  height: auto;
  padding: 1rem 0;
  border-bottom: 2.5px solid transparent;
  color: #9194a1;
  background: #ffffff;
  transition: all 0.3s ease;
}
#tab-menu .main .tab-menu-link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2;
}
#tab-menu .main .tab-menu-link.is-active {
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
  border-bottom: 2.5px solid #fa5757;
  color: #252b46;
  background: #ffffff;
}
#tab-menu .main .tab-bar {
  overflow: hidden;
  background: #ffffff;
}
#tab-menu .main .tab-bar-content {
  display: none;
  width: 100%;
  min-height: 10rem;
  transition: all 0.3s ease;
}
#tab-menu .main .tab-bar-content.is-active {
  display: block;
}
#tab-menu .main .reviews {
  max-width: 100%;
  padding: 20px;
}
#tab-menu .main .reviews .people-info {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
#tab-menu .main .reviews .people-info .image {
  padding-top: 14px;
}
#tab-menu .main .reviews .people-info .image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#tab-menu .main .reviews .people-info .info p {
  font-size: 14px;
  line-height: 26px;
}
#tab-menu .main .reviews .people-info .info span {
  font-size: 12px;
  color: #777 !important;
}
#tab-menu .main .reviews .input-submit * {
  box-sizing: border-box;
}
#tab-menu .main .reviews .input-submit button {
  height: 45px;
  width: 141px;
  background-color: #FF4081 !important;
}
#tab-menu .main .reviews .input-submit i {
  font-size: 20px;
  cursor: pointer;
}
#tab-menu .main .reviews .input-submit body .container {
  font-family: "Roboto";
  width: 600px;
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
}
#tab-menu .main .reviews .input-submit h2 {
  margin-bottom: 10px;
}
#tab-menu .main .reviews .input-submit .form-submit {
  margin-top: 50px;
}
#tab-menu .main .reviews .input-submit h2 ._line {
  width: 738px;
  height: 1px;
  background-color: #888;
}
#tab-menu .main .reviews .input-submit h2 small {
  font-size: 16px;
  font-weight: normal;
  color: #888;
  display: block;
}
#tab-menu .main .reviews .input-submit .input-name {
  display: flex;
  gap: 20px;
}
#tab-menu .main .reviews .input-submit .group {
  position: relative;
  margin-bottom: 45px;
}
#tab-menu .main .reviews .input-submit input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 361px;
  border: none;
  border-bottom: 1px solid #f44336;
}
#tab-menu .main .reviews .input-submit .subject input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f44336;
}
#tab-menu .main .reviews .input-submit .post-contect input {
  font-size: 18px;
  padding: 71px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f44336;
}
#tab-menu .main .reviews .input-submit input:focus {
  outline: none;
}
#tab-menu .main .reviews .input-submit label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#tab-menu .main .reviews .input-submit input:focus ~ label,
#tab-menu .main .reviews .input-submit input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #f44336;
}
#tab-menu .main .reviews .input-submit .bar {
  position: relative;
  display: block;
  width: 361px;
}
#tab-menu .main .reviews .input-submit .subject .bar {
  position: relative;
  display: block;
  width: 100%;
}
#tab-menu .main .reviews .input-submit .bar:before,
#tab-menu .main .reviews .input-submit .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #f44336;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#tab-menu .main .reviews .input-submit .bar:before {
  left: 50%;
}
#tab-menu .main .reviews .input-submit .bar:after {
  right: 50%;
}
#tab-menu .main .reviews .input-submit input:focus ~ .bar:before,
#tab-menu .main .reviews .input-submit input:focus ~ .bar:after {
  width: 50%;
}
#tab-menu .main .reviews .input-submit .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#tab-menu .main .reviews .input-submit input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  to {
    width: 0;
    background: transparent;
  }
}

.featured-roducts {
  margin-top: 50px;
  margin-bottom: 50px;
}
.featured-roducts h4 {
  font-weight: bold;
}
.featured-roducts .line {
  width: 50px;
  height: 1px;
  background-color: #777;
}

#products .modal-prodact .main-img {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 400px;
}
#products .modal-prodact ._slider .slider-icon:before {
  position: absolute !important;
  z-index: 5 !important;
  margin-top: 50px !important;
}
#products .modal-prodact ._slider .fa-chevron-right:before {
  margin-left: 391px !important;
  position: absolute !important;
  z-index: 5 !important;
  margin-top: -58px !important;
}

#footer {
  background-color: #F5F5F5;
  height: 350px;
}
#footer .logo-footer {
  margin-top: 50px;
  width: 689px;
  background-color: #F5F5F5;
  display: flex;
}
#footer .logo-footer .footer-about {
  width: 335px;
  height: 225px;
  padding-left: 15px;
}
#footer .logo-footer .footer-about a {
  text-decoration: none;
  color: #383838;
}
#footer .logo-footer .footer-about p {
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .logo-footer .services {
  width: 299px;
  margin-left: 25px;
}
#footer .logo-footer .services h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .logo-footer .services ul {
  padding: 0px;
}
#footer .logo-footer .services ul li {
  list-style: none;
}
#footer .logo-footer .services ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  color: #333;
}
#footer .subscribe-address-info {
  margin-top: 50px;
  width: 636px;
  display: flex;
  background-color: #F5F5F5;
}
#footer .subscribe-address-info .subscribe {
  width: 315px;
  padding-right: 15px;
}
#footer .subscribe-address-info .subscribe h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .subscribe-address-info .subscribe p {
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address-info .subscribe input {
  height: 45px;
  width: 260px;
  background: #fff;
  font-size: 15px;
  line-height: 45px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 0 65px 0 20px;
  color: #777;
}
#footer .subscribe-address-info .subscribe button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
  background-color: #ef6c00;
  color: #fff;
  border-radius: 3px;
  line-height: 45px;
  width: 260px;
}
#footer .subscribe-address-info .contact-info {
  width: 315px;
}
#footer .subscribe-address-info .contact-info h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .subscribe-address-info .contact-info .address p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address-info .contact-info .telnumber p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address-info .contact-info .message p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address-info .contact-info .socials ul {
  display: flex;
  padding: 0px;
}
#footer .subscribe-address-info .contact-info .socials ul li {
  width: 33px;
  height: 33px;
  border: 1px solid #444;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  list-style: none;
}
#footer .subscribe-address-info .contact-info .socials ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  color: #333;
}/*# sourceMappingURL=product.css.map */