//nav bar 

.nav-bar {
    display: flex;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#nav {
    width: 100%;
    height: 60px;
    background-color: #222222;




    ._usd {

        margin-top: 14px;


        .navbar-nav {

            & li .firsta {


                padding: 0px 16px !important;
                color: #c3c3c3;
                font-size: 14px !important;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;
                cursor: pointer;

                & :hover {
                    color: gray;
                }



            }
        }


        .dropdown-firstmenu {


            & li {
                width: 221px;
                height: 48px;
                padding: 10px 16px;
                border: 0.5px dashed rgb(245, 241, 241);
                border-top: none;
                border-left: none;
                border-right: none;
                cursor: pointer;


                span {
                    background-color: #ef6c00;
                    font-size: 11px;
                    font-weight: 400;
                    color: #fff;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 3px;
                    padding-right: 3px;
                    font-weight: 400;

                }
            }
        }

    }

    .nav-right-icon {

        text-decoration: none;
        display: flex;
        gap: 22px;
        align-items: center;
        height: 60px;
        justify-content: flex-end;


        a {
            text-decoration: none;


            i {
                font-size: 17px;
                text-decoration: none;
                color: #C3C3C3;
            }

            span {
                text-decoration: none;
                color: #C3C3C3;
                font-size: 14px;
            }
        }


    }

    .nav-usd-flag {
        display: flex;
    }


    .flag {



        .divider {
            margin: 1px !important;
        }

        .ui {
            background-color: #222222 !important;
            color: white;


            .search {
                background-color: #222222 !important;

                .selection {

                    // background-color: #222222 !important;
                    .dropdown {
                        background-color: #222222 !important;
                    }

                }
            }
        }
    }









}




#nav-down {
    background-color: #EF6C00;
    width: 100%;
    height: 85px;

    .sophia {
        height: 80px;

        display: flex;
        align-items: center;

        a {
            text-decoration: none;

            h1 {
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }

    }

    .search {

        height: 80px;
        display: flex;
        align-items: center;


        input {
            border: none;
            outline: none;
            height: 35px;
            width: 29rem;
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 3px;
            padding-left: 10px;
        }

        button {
            height: 35px !important;
            width: 7rem;
            border-radius: 2px !important;

        }



    }


    .call-contact {
        height: 80px;
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;

        i {
            text-decoration: none;
            color: white;

        }

        .call-icon {
            font-size: 32px;
        }

        .call-helpline {

            span {
                color: white;
                font-size: 13px;
            }


        }

        .call-number {
            color: white;
            font-size: 18px;
        }



        .basket-number {


            .info-basket {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                position: absolute;
                margin-top: 25px;
                z-index: 20;
                width: 289px;
                display: none;
                left: 3px;
                position: absolute;
                // display: block;
                top: 40px;
                border-top-right-radius: 4px;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top-left-radius: 4px;

                overflow: auto;
                background-color: white;

                .subtotal-basket {
                    border-top: 1px solid #C3C3C3;
                    width: 249px;
                    height: 59px;
                    display: flex;
                    justify-content: space-between;

                    margin-left: 20px;
                    padding-top: 10px;

                    .basket-card-total {

                        span {
                            font-weight: 400;
                        }
                    }




                }




                .table>:not(caption)>*>* {
                    padding: 0.5rem 0.5rem;
                    background-color: var(--bs-table-bg);
                    border-bottom-width: 0 !important;
                    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
                }





                #check-card {
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                }

                .check {
                    display: flex;
                    justify-content: space-between;
                    border-top: 5px solid #C3C3C3;
                    padding: 20px;


                    .item-count {
                        margin-left: 114px;
                        font-weight: 600;

                    }

                    span {
                        font-weight: 600;
                    }
                }

                .line-basket {

                    height: 1px;
                    width: 250px;
                    background-color: #C3C3C3;
                    margin-left: 18px;
                }


                .table {




                    .table-body {





                        tr {

                            td {

                                border-bottom-width: none !important;
                                font-weight: bold;

                                img {
                                    width: 100px;
                                    cursor: pointer;
                                }


                            }


                            .price {
                                position: absolute;
                                margin-top: 30px;
                                margin-left: -219px;
                                font-weight: 600;

                            }

                            .name {
                                padding-left: 20px;
                                width: 200px;
                                height: 65px;
                            }

                            b {

                                color: #EF6C00;
                                font-weight: bold;
                            }


                        }







                    }




                }




                .total-price {

                    display: flex;


                    a {

                        text-decoration: none;

                        button {
                            border-top-right-radius: 5px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            border-top-left-radius: 5px;

                            width: 190px !important;
                            height: 49px;
                            font-weight: bold;
                            color: white;
                            background-color: #EF6C00 !important;
                            border: 0px solid;
                        }

                    }

                }




            }











            //sub podacts
            .sub-total {
                // text-decoration: none;
                display: flex;
                cursor: pointer;

                i {
                    font-size: 18px;

                }


                .sup-number {
                    height: 15px;
                    width: 15px;

                    background-color: black;
                    border-radius: 50%;
                    position: relative;
                    top: -8px;
                    right: 7px;
                    display: flex;
                    text-align: center;
                    justify-content: center;


                    sup {
                        color: white;
                        position: relative;
                        top: 7px;
                        left: 4;
                        font-size: 10px;
                    }

                }


                p {
                    color: white;
                    font-weight: bold;
                }






            }



        }

    }



}













#navbar-tabs {


    background-color: #F3F3F3;

    .navbar-page {
        display: flex;
        background-color: #F3F3F3 !important;
    }

    .nav-body {
        background-color: #F3F3F3 !important;
    }

    .navbar-info {

        background-color: #F3F3F3 !important;

        .navbar-li {

            li {
                width: 100px !important;

                transition: 0.3s;

                a {

                    font-size: 17px;
                    font-weight: bold;
                }

                &:hover {
                    background-color: #E9E9E9;

                }

            }


            .page-list {

                ul {
                    li {
                        a {
                            font-size: 15px !important;
                            font-weight: 400;
                        }
                    }
                }
            }


        }


    }




}













#navbar-tabs {


    background-color: #F3F3F3;

    .navbar-page {
        display: flex;
        background-color: #F3F3F3 !important;
    }

    .nav-body {
        background-color: #F3F3F3 !important;
    }

    .navbar-info {

        background-color: #F3F3F3 !important;

        .navbar-li {

            li {
                width: 100px !important;


                a {

                    font-size: 17px;
                    font-weight: bold;
                }

                &:hover {
                    background-color: #E9E9E9;

                }

            }


            .page-list {

                ul {
                    li {
                        a {
                            font-size: 15px !important;
                            font-weight: 400;
                        }
                    }
                }
            }


        }


    }




}







//about main

#about-page {

    padding: 20px 0;
    border-bottom: 1px solid #f3f3f3;

    .about-us {
        h4 {
            font-size: 16px;
            color: #555;
            font-weight: 500;
        }
    }

    .content {

        display: flex;
        justify-content: end;
        gap: 10px;


        li {
            list-style: none;
            font-size: 14px;
            color: #555;
            font-weight: 500;

            a {
                text-decoration: none;
                color: #555;
                font-weight: 500;
                font-size: 14px;
            }
        }

        .about-us {
            display: flex;
        }

    }
}


#about-main {

    .about-intro {
        h2 {
            font-size: 36px;
            text-transform: capitalize;
            line-height: 1;
            letter-spacing: .02em;
            color: #383838;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            line-height: 26px;
        }
    }

    .accordions {
        h4 {
            font-size: 18px;
            // line-height: 1;
            font-weight: 600;
        }

        .button-accordion {
            height: 47px;
            // margin-bottom: 10px;
            // border: 1px solid #e5e5e5;
            // border-radius: 5px;
            // box-shadow: none;
        }






    }
}



#services {
    background-color: #f5f5f5;
    height: 450px;

    .title {
        padding: 41px;

        h2 {
            font-size: 36px;
            text-transform: capitalize;
            line-height: 1;
            letter-spacing: .02em;
            color: #383838;
            font-weight: 700;
            text-align: center;
            margin-bottom: 10px;
        }

        p {
            text-align: center;
            color: #777;
        }
    }

    .content {
        background-color: white;
        width: 410px;
        height: 214px;


        .icon {

            padding-top: 47px;
            margin-left: 19px;


            i {
                font-size: 45px;
                color: #EF6C00;

            }
        }

        h4 {
            font-weight: 600;
            font-size: 22px;
            margin-left: 25px;
            // margin-bottom: 10px;
            // line-height: 1;
            margin-bottom: 6px;
            line-height: 2;
        }

        p {
            line-height: 26px;
            margin-left: 25px;
            color: #333;
        }

    }



}




#about-our-experts {


    .title {

        text-align: center;
        margin-top: 50px;

        h2 {
            margin-bottom: 10px;
            font-size: 36px;
            text-transform: capitalize;
            line-height: 1;
            letter-spacing: .02em;
            color: #383838;
            font-weight: 700;
            // text-align: center;
        }

        p {
            color: #777;
            font-weight: 500;
        }
    }

    .team-members {
        .single-team-member {
            width: 295px;
            height: 365.88;

            .img {
                // width: 295px;
                // height: 365px;

                img {
                    width: 100%;
                }
            }

            .text {

                border: 1px solid #f6f6f6;
                padding-top: 20px;
                padding-bottom: 20px;
                transition: .4s ease;
                text-align: center;

                h4 {
                    margin: 0;
                    font-size: 18px;
                    font-weight: 500;
                }

                p {
                    margin: 0;
                    color: #333;
                }

            }
        }
    }
}



//footer

#footer {

    background-color: #F5F5F5;
    height: 350px;


    .logo-footer {
        margin-top: 50px;
        width: 689px;
        background-color: #F5F5F5;
        display: flex;


        .footer-about {

            width: 335px;
            height: 225px;
            padding-left: 15px;



            a {
                text-decoration: none;
                color: #383838;

            }

            p {
                line-height: 24px;
                color: #333;
                font-weight: 400;

            }

        }

        .services {

            width: 299px;
            margin-left: 25px;

            h5 {

                color: #383838;
                line-height: 24px;
                font-size: 20px;
                font-weight: 600;

            }

            ul {

                padding: 0px;

                li {
                    list-style: none;

                    a {

                        text-decoration: none;
                        font-size: 15px;
                        line-height: 32px;
                        color: #333;
                    }
                }
            }


        }



    }


    .subscribe-address-info {
        margin-top: 50px;
        width: 636px;
        display: flex;
        background-color: #F5F5F5;

        .subscribe {

            width: 315px;
            padding-right: 15px;


            h5 {


                color: #383838;
                line-height: 24px;
                font-size: 20px;
                font-weight: 600;
            }

            p {
                line-height: 24px;
                color: #333;
                font-weight: 400;

            }

            input {
                height: 45px;
                width: 260px;
                background: #fff;
                font-size: 15px;
                line-height: 45px;
                border: 1px solid #e2e2e2;
                border-radius: 4px;
                padding: 0 65px 0 20px;
                color: #777
            }

            button {
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                margin-top: 20px;
                padding: 0 10px;
                text-align: center;
                text-transform: uppercase;
                transition: all .4s ease 0s;
                z-index: 222;
                background-color: #ef6c00;
                color: #fff;
                border-radius: 3px;
                line-height: 45px;
                width: 260px;
            }

        }

        .contact-info {

            width: 315px;


            h5 {


                color: #383838;
                line-height: 24px;
                font-size: 20px;
                font-weight: 600;
            }




            .address {


                p {

                    display: inline-block;
                    line-height: 24px;
                    color: #333;
                    font-weight: 400;

                }
            }

            .telnumber {

                p {

                    display: inline-block;
                    line-height: 24px;
                    color: #333;
                    font-weight: 400;

                }

            }

            .message {


                p {

                    display: inline-block;
                    line-height: 24px;
                    color: #333;
                    font-weight: 400;

                }
            }


            .socials {


                ul {

                    display: flex;
                    padding: 0px;


                    li {


                        width: 33px;
                        height: 33px;
                        border: 1px solid #444;
                        border-radius: 50%;
                        text-align: center;
                        margin-right: 5px;
                        list-style: none;

                        a {


                            text-decoration: none;
                            font-size: 15px;
                            line-height: 32px;
                            color: #333;

                        }
                    }
                }
            }


        }
    }


}






#teams {


    .title {

        text-align: center;
        margin-top: 50px;

        h2 {
            margin-bottom: 10px;
            font-size: 36px;
            text-transform: capitalize;
            line-height: 1;
            letter-spacing: .02em;
            color: #383838;
            font-weight: 700;
            // text-align: center;
        }

        p {
            color: #777;
            font-weight: 500;
        }
    }

    .team-members {
        display: flex;

        .single-team-member {
            width: 295px;
            // height: 365.88px;

            &:hover {
                img {
                    opacity: 0.5;
                }

                .social {
                    transform: translateY(-65px);
                }

                .text {
                    h4 {
                        color: white;
                    }

                    p {
                        color: white;
                    }

                    background-color: #444444;
                }
            }


            .img {
                // width: 295px;
                height: 365px;
                overflow-y: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.4s;
                }
            }

            .social {
                display: flex;
                height: 65px;
                align-items: center;
                justify-content: space-evenly;
                background-color: #4050b5;
                transition: all 0.4s;

                a {
                    i {
                        color: white;
                    }
                }
            }

            .text {


                border: 1px solid #f6f6f6;
                padding-top: 20px;
                padding-bottom: 20px;
                transition: .4s ease;
                text-align: center;

                h4 {
                    margin: 0;
                    font-size: 18px;

                    font-weight: 500;
                }

                p {
                    margin: 0;
                    color: #333;
                }

            }
        }
    }
}