.nav-bar {
    display: flex;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#nav {
    width: 100%;
    height: 60px;
    background-color: #222222;




    .nav-right-icon {

        text-decoration: none;
        display: flex;
        gap: 22px;
        align-items: center;
        height: 60px;
        justify-content: flex-end;


        a {
            text-decoration: none;


            i {
                font-size: 17px;
                text-decoration: none;
                color: #C3C3C3;
            }

            span {
                text-decoration: none;
                color: #C3C3C3;
                font-size: 14px;
            }
        }


    }



    .flag {

        .divider {
            margin: 1px !important;
        }

        .ui {
            background-color: #222222 !important;
            color: white;


            .search {
                background-color: #222222 !important;

                .selection {

                    // background-color: #222222 !important;
                    .dropdown {
                        background-color: #222222 !important;
                    }

                }
            }
        }
    }









}



#nav-down {
    background-color: #EF6C00;
    width: 100%;
    height: 80px;

    .Sophia {
        height: 80px;

        display: flex;
        align-items: center;

        a {
            text-decoration: none;

            h1 {
                color: white;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }

    }

    .serach {
        height: 80px;
        display: flex;
        align-items: center;


        input {
            height: 35px;
            width: 29rem;
        }

        button {
            height: 35px !important;
            width: 7rem;
            border-radius: 2px !important;

        }



    }


    .call-contact {
        height: 80px;
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;

        i {
            text-decoration: none;
            color: white;

        }

        .call-icon {
            font-size: 32px;
        }

        .call-helpline {

            span {
                color: white;
                font-size: 13px;
            }


        }

        .call-number {
            color: white;
            font-size: 18px;
        }

        .basket-number {
            display: flex;

            i {
                font-size: 18px;

            }


            .sup-number {
                height: 15px;
                width: 15px;

                background-color: black;
                border-radius: 50%;
                position: relative;
                top: -8px;
                right: 7px;
                display: flex;
                text-align: center;
                justify-content: center;


                sup {
                    color: white;
                    position: relative;
                    top: 7px;
                    left: 4;
                    font-size: 10px;
                }





            }


            span {
                color: white;
            }

        }



    }








}



//slider


// #slideshow {
//     margin: 0 auto;
//     position: relative;
//     width: 100%;
//     padding: 1% 1% 45% 1%;
//     // border-radius: 20px;
//     // background: rgba(0, 0, 0, 0.2);
//     // box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
//     box-sizing: border-box;
//     position: relative;

//     .slideitem {

//         h1 {
//             position: absolute;
//             top: 32%;
//             left: 10%;
//             font-weight: 700;
//             font-size: 48px;

//         }

//         h3 {
//             position: absolute;
//             top: 43%;
//             left: 10%;
//         }

//         button {
//             position: absolute;
//             top: 50%;
//             left: 10%;

//             width: 150px;
//             background-color: #EF6C00;


//         }
//     }

//     &>div {
//         position: absolute;
//         top: 10px;
//         left: 10px;
//         right: 10px;
//         bottom: 10px;

//         &>img {
//             width: 100%;
//             height: 560px;
//             // border-radius: 20px;
//         }
//     }
// }

// #slideshow:hover i,
// #slideshow:hover .slider-dots {
//     opacity: 1;
// }

// .slidebtn {
//     z-index: 99;
//     background: transparent;
//     outline: none;
//     border: none;
//     -webkit-transition: all 0.3s;
//     -moz-transition: all 0.3s;
//     transition: all 0.3s;

//     display: none;

//     i {
//         color: #FFF;
//         font-size: 72px;
//         opacity: 0.2;
//         -webkit-transition: all 0.3s;
//         -moz-transition: all 0.3s;
//         transition: all 0.3s;
//     }
// }

// .slidebtn:active,
// .slidedtn:focus {
//     outline: none;
// }

// .prev {
//     position: absolute;
//     top: 10px;
//     left: 10px;
//     bottom: 10px;
// }

// .next {
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     bottom: 10px;
// }

// .slider-dots {
//     opacity: 0.2;
//     list-style: none;
//     display: inline-block;
//     padding-left: 0;
//     margin-bottom: 0;
//     position: absolute;
//     left: 50%;
//     bottom: 16%;
//     transform: translate(-50%, 0);
//     z-index: 99;
//     -webkit-transition: all 0.3s;
//     -moz-transition: all 0.3s;
//     transition: all 0.3s;

//     li {
//         color: rgb(170, 170, 170);
//         display: inline;
//         font-size: 35px;
//         margin-right: 5px;
//         cursor: pointer;

//         &.active-dot {
//             color: #fff;
//         }
//     }
// }




//silder yeni

body {
    position: relative;
    height: 100%;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}




.swiper-slide {

    h1 {
        position: absolute;
        top: 32%;
        left: 10%;
        font-weight: 700;
        font-size: 48px;

    }

    h3 {
        position: absolute;
        top: 43%;
        left: 10%;
    }

    button {
        position: absolute;
        top: 50%;
        left: 10%;

        width: 150px;
        background-color: #EF6C00;


    }
}





//infor-bar


#info-bar {



    padding-top: 20px;
    display: flex;

    align-items: center;

    .info-border {
        display: flex;
        border: 1px solid #e5e5e5;

    }


    .info-bar-menu {
        display: flex;
        margin-top: 5px;
        align-items: center;
        // border-right: 1px solid red;
        height: 100px;

        gap: 20px;

        padding-right: none !important;
        padding-left: none !important;
        padding-left: 15px;

        i {
            font-size: 30px;
            color: #ef6c00;

        }

        .border-right-solid {
            border: 1px solid #e5e5e5;
            height: 80px;
        }

    }



}




.info-bar-free {

    padding-right: 1px !important;
    padding-left: 1px !important;

}

.info-bar-free-shoping {


    display: flex;
    margin-top: 5px;
    align-items: center;
    // border: 5px solid #e5e5e5;
    height: 100px;

    gap: 20px;

    padding-right: none !important;
    padding-left: none !important;
    padding-left: 15px;

    .border-right-solid {
        border: 1px solid #e5e5e5;
        height: 80px;
    }

    i {
        font-size: 30px;
        color: #ef6c00;

    }


}




//card carusel prodact


#myCarousel {
    margin-top: 50px;
}

.carousel-inner {
    .carousel-item.active {
        display: flex;
    }

    .carousel-item-start {
        display: flex;
    }

    .carousel-item-next {
        display: flex;
    }

    .carousel-item-prev {
        display: flex;
    }
}

@media (max-width: 768px) {
    .carousel-inner {
        .carousel-item {
            >div {
                display: none;

                &:first-child {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .carousel-inner {
        .carousel-item-right.active {
            transform: translateX(25%) !important;
        }

        .carousel-item-next {
            transform: translateX(25%) !important;
        }

        .carousel-item-left.active {
            transform: translateX(-25%) !important;
        }

        .carousel-item-prev {
            transform: translateX(-25%) !important;
        }
    }

    .carousel-item-next {
        &:not(.carousel-item-start) {
            transform: translateX(25%) !important;
        }
    }

    .carousel-item-prev {
        &:not(.carousel-item-end) {
            transform: translateX(-25%) !important;
            transform: translateX(-25%) !important;
            transform: translateX(-25%) !important;
        }
    }

    .active.carousel-item-start {
        transform: translateX(-25%) !important;
    }

    .carousel-item-next.carousel-item-start {
        transform: translateX(0) !important;
    }

    .active.carousel-item-end {
        transform: translateX(0) !important;
    }
}



//prodact card


#card {

    $color_1: #000;
    $font-family_1: Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
    margin-bottom: 500px;

    body {
        position: relative;
        height: 100%;
        background: #eee;
        font-family: $font-family_1;
        font-size: 14px;
        color: $color_1;
        margin: 0;
        padding: 0;
    }

    .swiper-wrapper {
        transform: translate3d(47.875px, 0px, 0px);
        width: 245px;

        .swiper-slide {
            width: 245px !important;
            height: 360px !important;
            text-align: left;
            height: 100%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


            .card-prodact {

                position: relative;
                background-color: #fff;
                width: 245px;
                height: 352px;

                .img {
                    width: 240px;
                    height: 180px;


                    a {


                        img {
                            width: 180px;
                            height: 180px;
                            margin-left: 25px;

                        }
                    }


                }



                a {
                    text-decoration: none;
                    position: absolute;


                    i {
                        color: #333333;
                        font-size: 24px;
                        margin-top: 10px;



                        & :hover {
                            color: #ef6c00;
                        }
                    }

                }

                .heart {
                    top: 21px;
                    left: 190px
                }

                .eyes {
                    top: 56px;
                    left: 189px;

                }

                .refresh {

                    top: 91px;
                    left: 192px;
                }


                .addcart {
                    height: 178px;
                    width: 245px;
                    position: relative;

                    .info-prodact {

                        padding-left: 17px;

                        .info-pro {

                            h6 {
                                color: #A2A2A2;

                            }
                        }


                    }



                    i {
                        color: #FFA726;
                        font-size: 17px;

                    }

                    .star {
                        margin-left: 15px;
                    }

                    .dolaricon {

                        margin-left: 45px;
                        font-size: 19px;
                        color: #000000DE;
                        font-weight: 600;

                    }

                    .cardproductprice {
                        font-size: 19px;
                        color: #000000DE;
                        font-weight: 600;
                        margin-left: 0px;
                    }





                    .button-prodact {


                        button {

                            width: 215.19px;
                            height: 43px;
                            background-color: #EF6C00;
                            color: white;
                            border: none;
                            margin-left: -10px;
                           

                            span {
                                font-size: 14px;
                                color: #FFFFFF;
                                font-weight: 600;
                                margin-left: 0px;
                            }

                            i {
                                font-size: 18px;
                                color: #FFFFFF;
                                margin-left: 10px;
                            }

                        }

                        & :hover {

                            background-color: #ffffff;
                            border: 2px solid #EF6C00;
                            

                            span{
                                color:#EF6C00 ;
                                border: none;
                            }

                            i{
                                color:#EF6C00 ;
                                border: none;
                            }



                        }


                    }



                }


            }

        }

    }




}