.nav-bar {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  width: 100%;
  height: 60px;
  background-color: #222222;
}
#nav .nav-right-icon {
  text-decoration: none;
  display: flex;
  gap: 22px;
  align-items: center;
  height: 60px;
  justify-content: flex-end;
}
#nav .nav-right-icon a {
  text-decoration: none;
}
#nav .nav-right-icon a i {
  font-size: 17px;
  text-decoration: none;
  color: #C3C3C3;
}
#nav .nav-right-icon a span {
  text-decoration: none;
  color: #C3C3C3;
  font-size: 14px;
}
#nav .flag .divider {
  margin: 1px !important;
}
#nav .flag .ui {
  background-color: #222222 !important;
  color: white;
}
#nav .flag .ui .search {
  background-color: #222222 !important;
}
#nav .flag .ui .search .selection .dropdown {
  background-color: #222222 !important;
}

#nav-down {
  background-color: #EF6C00;
  width: 100%;
  height: 80px;
}
#nav-down .Sophia {
  height: 80px;
  display: flex;
  align-items: center;
}
#nav-down .Sophia a {
  text-decoration: none;
}
#nav-down .Sophia a h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#nav-down .serach {
  height: 80px;
  display: flex;
  align-items: center;
}
#nav-down .serach input {
  height: 35px;
  width: 29rem;
}
#nav-down .serach button {
  height: 35px !important;
  width: 7rem;
  border-radius: 2px !important;
}
#nav-down .call-contact {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
}
#nav-down .call-contact i {
  text-decoration: none;
  color: white;
}
#nav-down .call-contact .call-icon {
  font-size: 32px;
}
#nav-down .call-contact .call-helpline span {
  color: white;
  font-size: 13px;
}
#nav-down .call-contact .call-number {
  color: white;
  font-size: 18px;
}
#nav-down .call-contact .basket-number {
  display: flex;
}
#nav-down .call-contact .basket-number i {
  font-size: 18px;
}
#nav-down .call-contact .basket-number .sup-number {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  top: -8px;
  right: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
}
#nav-down .call-contact .basket-number .sup-number sup {
  color: white;
  position: relative;
  top: 7px;
  left: 4;
  font-size: 10px;
}
#nav-down .call-contact .basket-number span {
  color: white;
}

body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide h1 {
  position: absolute;
  top: 32%;
  left: 10%;
  font-weight: 700;
  font-size: 48px;
}
.swiper-slide h3 {
  position: absolute;
  top: 43%;
  left: 10%;
}
.swiper-slide button {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 150px;
  background-color: #EF6C00;
}

#info-bar {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
#info-bar .info-border {
  display: flex;
  border: 1px solid #e5e5e5;
}
#info-bar .info-bar-menu {
  display: flex;
  margin-top: 5px;
  align-items: center;
  height: 100px;
  gap: 20px;
  padding-right: none !important;
  padding-left: none !important;
  padding-left: 15px;
}
#info-bar .info-bar-menu i {
  font-size: 30px;
  color: #ef6c00;
}
#info-bar .info-bar-menu .border-right-solid {
  border: 1px solid #e5e5e5;
  height: 80px;
}

.info-bar-free {
  padding-right: 1px !important;
  padding-left: 1px !important;
}

.info-bar-free-shoping {
  display: flex;
  margin-top: 5px;
  align-items: center;
  height: 100px;
  gap: 20px;
  padding-right: none !important;
  padding-left: none !important;
  padding-left: 15px;
}
.info-bar-free-shoping .border-right-solid {
  border: 1px solid #e5e5e5;
  height: 80px;
}
.info-bar-free-shoping i {
  font-size: 30px;
  color: #ef6c00;
}

#myCarousel {
  margin-top: 50px;
}

.carousel-inner .carousel-item.active {
  display: flex;
}
.carousel-inner .carousel-item-start {
  display: flex;
}
.carousel-inner .carousel-item-next {
  display: flex;
}
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active {
    transform: translateX(25%) !important;
  }
  .carousel-inner .carousel-item-next {
    transform: translateX(25%) !important;
  }
  .carousel-inner .carousel-item-left.active {
    transform: translateX(-25%) !important;
  }
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%) !important;
  }
  .carousel-item-next:not(.carousel-item-start) {
    transform: translateX(25%) !important;
  }
  .carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-25%) !important;
    transform: translateX(-25%) !important;
    transform: translateX(-25%) !important;
  }
  .active.carousel-item-start {
    transform: translateX(-25%) !important;
  }
  .carousel-item-next.carousel-item-start {
    transform: translateX(0) !important;
  }
  .active.carousel-item-end {
    transform: translateX(0) !important;
  }
}
#card {
  margin-bottom: 500px;
}
#card body {
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
#card .swiper-wrapper {
  transform: translate3d(47.875px, 0px, 0px);
  width: 245px;
}
#card .swiper-wrapper .swiper-slide {
  width: 245px !important;
  height: 360px !important;
  text-align: left;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#card .swiper-wrapper .swiper-slide .card-prodact {
  position: relative;
  background-color: #fff;
  width: 245px;
  height: 352px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .img {
  width: 240px;
  height: 180px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .img a img {
  width: 180px;
  height: 180px;
  margin-left: 25px;
}
#card .swiper-wrapper .swiper-slide .card-prodact a {
  text-decoration: none;
  position: absolute;
}
#card .swiper-wrapper .swiper-slide .card-prodact a i {
  color: #333333;
  font-size: 24px;
  margin-top: 10px;
}
#card .swiper-wrapper .swiper-slide .card-prodact a i :hover {
  color: #ef6c00;
}
#card .swiper-wrapper .swiper-slide .card-prodact .heart {
  top: 21px;
  left: 190px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .eyes {
  top: 56px;
  left: 189px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .refresh {
  top: 91px;
  left: 192px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart {
  height: 178px;
  width: 245px;
  position: relative;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .info-prodact {
  padding-left: 17px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .info-prodact .info-pro h6 {
  color: #A2A2A2;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart i {
  color: #FFA726;
  font-size: 17px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .star {
  margin-left: 15px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .dolaricon {
  margin-left: 45px;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-weight: 600;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .cardproductprice {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.8705882353);
  font-weight: 600;
  margin-left: 0px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .button-prodact button {
  width: 215.19px;
  height: 43px;
  background-color: #EF6C00;
  color: white;
  border: none;
  margin-left: -10px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .button-prodact button span {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 600;
  margin-left: 0px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .button-prodact button i {
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 10px;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .button-prodact :hover {
  background-color: #ffffff;
  border: 2px solid #EF6C00;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .button-prodact :hover span {
  color: #EF6C00;
  border: none;
}
#card .swiper-wrapper .swiper-slide .card-prodact .addcart .button-prodact :hover i {
  color: #EF6C00;
  border: none;
}/*# sourceMappingURL=home.css.map */