.nav-bar {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  width: 100%;
  height: 60px;
  background-color: #222222;
}
#nav ._usd {
  margin-top: 14px;
}
#nav ._usd .navbar-nav li .firsta {
  padding: 0px 16px !important;
  color: #c3c3c3;
  font-size: 14px !important;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
#nav ._usd .navbar-nav li .firsta :hover {
  color: gray;
}
#nav ._usd .dropdown-firstmenu li {
  width: 221px;
  height: 48px;
  padding: 10px 16px;
  border: 0.5px dashed rgb(245, 241, 241);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
}
#nav ._usd .dropdown-firstmenu li span {
  background-color: #ef6c00;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: 400;
}
#nav .nav-right-icon {
  text-decoration: none;
  display: flex;
  gap: 22px;
  align-items: center;
  height: 60px;
  justify-content: flex-end;
}
#nav .nav-right-icon a {
  text-decoration: none;
}
#nav .nav-right-icon a i {
  font-size: 17px;
  text-decoration: none;
  color: #C3C3C3;
}
#nav .nav-right-icon a span {
  text-decoration: none;
  color: #C3C3C3;
  font-size: 14px;
}
#nav .nav-usd-flag {
  display: flex;
}
#nav .flag .divider {
  margin: 1px !important;
}
#nav .flag .ui {
  background-color: #222222 !important;
  color: white;
}
#nav .flag .ui .search {
  background-color: #222222 !important;
}
#nav .flag .ui .search .selection .dropdown {
  background-color: #222222 !important;
}

#nav-down {
  background-color: #EF6C00;
  width: 100%;
  height: 85px;
}
#nav-down .sophia {
  height: 80px;
  display: flex;
  align-items: center;
}
#nav-down .sophia a {
  text-decoration: none;
}
#nav-down .sophia a h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#nav-down .search {
  height: 80px;
  display: flex;
  align-items: center;
}
#nav-down .search input {
  border: none;
  outline: none;
  height: 35px;
  width: 29rem;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px;
  padding-left: 10px;
}
#nav-down .search button {
  height: 35px !important;
  width: 7rem;
  border-radius: 2px !important;
}
#nav-down .call-contact {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
}
#nav-down .call-contact i {
  text-decoration: none;
  color: white;
}
#nav-down .call-contact .call-icon {
  font-size: 32px;
}
#nav-down .call-contact .call-helpline span {
  color: white;
  font-size: 13px;
}
#nav-down .call-contact .call-number {
  color: white;
  font-size: 18px;
}
#nav-down .call-contact .basket-number .info-basket {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  position: absolute;
  margin-top: 25px;
  z-index: 20;
  width: 289px;
  display: none;
  left: 3px;
  position: absolute;
  top: 40px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  overflow: auto;
  background-color: white;
}
#nav-down .call-contact .basket-number .info-basket .subtotal-basket {
  border-top: 1px solid #C3C3C3;
  width: 249px;
  height: 59px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding-top: 10px;
}
#nav-down .call-contact .basket-number .info-basket .subtotal-basket .basket-card-total span {
  font-weight: 400;
}
#nav-down .call-contact .basket-number .info-basket .table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 0 !important;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
#nav-down .call-contact .basket-number .info-basket #check-card {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
#nav-down .call-contact .basket-number .info-basket .check {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #C3C3C3;
  padding: 20px;
}
#nav-down .call-contact .basket-number .info-basket .check .item-count {
  margin-left: 114px;
  font-weight: 600;
}
#nav-down .call-contact .basket-number .info-basket .check span {
  font-weight: 600;
}
#nav-down .call-contact .basket-number .info-basket .line-basket {
  height: 1px;
  width: 250px;
  background-color: #C3C3C3;
  margin-left: 18px;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr td {
  border-bottom-width: none !important;
  font-weight: bold;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr td img {
  width: 100px;
  cursor: pointer;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr .price {
  position: absolute;
  margin-top: 30px;
  margin-left: -219px;
  font-weight: 600;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr .name {
  padding-left: 20px;
  width: 200px;
  height: 65px;
}
#nav-down .call-contact .basket-number .info-basket .table .table-body tr b {
  color: #EF6C00;
  font-weight: bold;
}
#nav-down .call-contact .basket-number .info-basket .total-price {
  display: flex;
}
#nav-down .call-contact .basket-number .info-basket .total-price a {
  text-decoration: none;
}
#nav-down .call-contact .basket-number .info-basket .total-price a button {
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 190px !important;
  height: 49px;
  font-weight: bold;
  color: white;
  background-color: #EF6C00 !important;
  border: 0px solid;
}
#nav-down .call-contact .basket-number .sub-total {
  display: flex;
  cursor: pointer;
}
#nav-down .call-contact .basket-number .sub-total i {
  font-size: 18px;
}
#nav-down .call-contact .basket-number .sub-total .sup-number {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  top: -8px;
  right: 7px;
  display: flex;
  text-align: center;
  justify-content: center;
}
#nav-down .call-contact .basket-number .sub-total .sup-number sup {
  color: white;
  position: relative;
  top: 7px;
  left: 4;
  font-size: 10px;
}
#nav-down .call-contact .basket-number .sub-total p {
  color: white;
  font-weight: bold;
}

#navbar-tabs {
  background-color: #F3F3F3;
}
#navbar-tabs .navbar-page {
  display: flex;
  background-color: #F3F3F3 !important;
}
#navbar-tabs .nav-body {
  background-color: #F3F3F3 !important;
}
#navbar-tabs .navbar-info {
  background-color: #F3F3F3 !important;
}
#navbar-tabs .navbar-info .navbar-li li {
  width: 100px !important;
  transition: 0.3s;
}
#navbar-tabs .navbar-info .navbar-li li a {
  font-size: 17px;
  font-weight: bold;
}
#navbar-tabs .navbar-info .navbar-li li:hover {
  background-color: #E9E9E9;
}
#navbar-tabs .navbar-info .navbar-li .page-list ul li a {
  font-size: 15px !important;
  font-weight: 400;
}

main {
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */
}
main #page-title {
  padding: 20px 0;
  border-bottom: 1px solid #f3f3f3;
}
main #page-title .contact h4 {
  font-size: 16px;
  color: #555;
  font-weight: 500;
}
main #page-title .content {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
}
main #page-title .content li {
  list-style: none;
  font-size: 14px;
  color: #555;
  font-weight: 500;
}
main #page-title .content li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 14px;
}
main #page-title .content .about-us {
  display: flex;
}
main #contact-us .account-card {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  gap: 25px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 375px;
}
main #contact-us .account-card .my-account {
  width: 607px;
  height: 349px;
}
main #contact-us .account-card .my-account ._line {
  height: 2px;
  width: 40px;
  background-color: black;
}
main #contact-us .account-card .my-account .line_ {
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
}
main #contact-us .account-card .my-account button {
  background-color: #EF6C00;
  color: white;
  width: 102.34px;
  height: 46px;
  font-weight: 500;
}
main #contact-us .account-card .register {
  width: 607px;
  height: 349px;
}
main #contact-us .account-card .register p {
  font-size: 15px;
}
main #contact-us .account-card .register ._line {
  height: 2px;
  width: 40px;
  background-color: black;
}
main #contact-us .account-card .register .line_ {
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
}
main #contact-us .account-card .register button {
  background-color: #EF6C00;
  color: white;
  width: 116.09px;
  height: 46px;
  font-weight: 500;
}
main form {
  padding-top: 44px;
}
main h2 small {
  font-weight: normal;
  color: #888;
  display: block;
}
main .footer {
  text-align: center;
}
main .footer a {
  color: red;
}
main .group {
  position: relative;
  margin-bottom: 45px;
}
main input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
main input:focus {
  outline: none;
}
main .register-body {
  margin-top: 13px;
}
main .register-body p {
  font-size: 15px;
}
main label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
main input:focus ~ label,
main input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: red;
}
main .bar {
  position: relative;
  display: block;
  width: 300px;
}
main .bar:before,
main .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: red;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
main .bar:before {
  left: 50%;
}
main .bar:after {
  right: 50%;
}
main input:focus ~ .bar:before,
main input:focus ~ .bar:after {
  width: 0%;
}
main .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
main input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}

#footer {
  background-color: #F5F5F5;
  height: 350px;
}
#footer .logo-footer {
  margin-top: 50px;
  width: 689px;
  background-color: #F5F5F5;
  display: flex;
}
#footer .logo-footer .footer-about {
  width: 335px;
  height: 225px;
  padding-left: 15px;
}
#footer .logo-footer .footer-about a {
  text-decoration: none;
  color: #383838;
}
#footer .logo-footer .footer-about p {
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .logo-footer .services {
  width: 299px;
  margin-left: 25px;
}
#footer .logo-footer .services h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .logo-footer .services ul {
  padding: 0px;
}
#footer .logo-footer .services ul li {
  list-style: none;
}
#footer .logo-footer .services ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  color: #333;
}
#footer .subscribe-address-info {
  margin-top: 50px;
  width: 636px;
  display: flex;
  background-color: #F5F5F5;
}
#footer .subscribe-address-info .subscribe {
  width: 315px;
  padding-right: 15px;
}
#footer .subscribe-address-info .subscribe h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .subscribe-address-info .subscribe p {
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address-info .subscribe input {
  height: 45px;
  width: 260px;
  background: #fff;
  font-size: 15px;
  line-height: 45px;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding: 0 65px 0 20px;
  color: #777;
}
#footer .subscribe-address-info .subscribe button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-top: 20px;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  z-index: 222;
  background-color: #ef6c00;
  color: #fff;
  border-radius: 3px;
  line-height: 45px;
  width: 260px;
}
#footer .subscribe-address-info .contact-info {
  width: 315px;
}
#footer .subscribe-address-info .contact-info h5 {
  color: #383838;
  line-height: 24px;
  font-size: 20px;
  font-weight: 600;
}
#footer .subscribe-address-info .contact-info .address p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address-info .contact-info .telnumber p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address-info .contact-info .message p {
  display: inline-block;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}
#footer .subscribe-address-info .contact-info .socials ul {
  display: flex;
  padding: 0px;
}
#footer .subscribe-address-info .contact-info .socials ul li {
  width: 33px;
  height: 33px;
  border: 1px solid #444;
  border-radius: 50%;
  text-align: center;
  margin-right: 5px;
  list-style: none;
}
#footer .subscribe-address-info .contact-info .socials ul li a {
  text-decoration: none;
  font-size: 15px;
  line-height: 32px;
  color: #333;
}/*# sourceMappingURL=account.css.map */